body
{
    width: 100%;
    display: flex;
    margin: 0;
}

.cabecalho
{
    width: 100%;
    height: 55px;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    background-color: #CFE0DD;
}

.texto1
{
    width: 500px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 580px;
    margin-top: 130px;
    flex-direction: row;
    font-size: 45px;
    font-family: Georgia, serif;
}

.logo
{
    margin-top: 5px;
    margin-left: 7px;
}

.agendamento
{
    margin-top: 5px;
    margin-left: 25px;
}

.quiz
{
    margin-top: 5px;
    margin-left: 25px;
}

.ima
{
    margin-top: 5px;
    margin-left: 1270px;
    border-radius: 120px;
    height: 45px;
    width: 45px;
}
.tabela_agenda
{
    position: absolute;
    margin-top: 250px;
    margin-left: 599px;
}

