body {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(#92B2A7, #6E7B8C);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.cabecalho {
    background-color: #CFE0DD;
    height: 55px;
    width: 100%;
    margin: 0px;
    display: flex;  
    flex-direction: row;
}

.logo {
    margin-top: 5px;
    margin-left: 25px;
}

.agenda_simb {
    margin-top: 5px;
    margin-left: 25px;
}

.quiz_simb {
    margin-top: 5px;
    margin-left: 25px;
}

.cadastro_login {
    position: absolute;
    right: 20px;
    background-color: #92B2A7;
    border: 0px;
    border-radius: 6px;    
    height: 30px;    
    font-size: larger;
    margin-top: 10px;
    font-family: Georgia, serif;
    cursor: pointer;
}

.botao_login {
    background-color: #97aaa7;
    border: 0px;
    border-radius: 6px;
    width: 80px;
    height: 30px;    
    right: 120px;
    position: absolute;
    font-size: larger;
    margin-top: 10px;
    font-family: Georgia, serif;
    cursor: pointer;
}

.texto_titulo1 {
    position: absolute;
    font-family: Georgia, serif;
    color: white;

}



.cadastro_login:hover {
    background-color: #688077;
    
}

.botao_login:hover {
    background-color: #7a8f8c;
}

.primeiro {
    font-size: 60px;
    display: flex;
    margin-left: 450px;
    margin-top: 200px;
    width: fit-content;
    position: absolute;
    width: 680px;

}

.segundo {
    font-size: 60px;
    display: flex;
    margin-left: 600px;
    margin-top: 260px;
    width: fit-content;
    position: absolute;
    width: 350px;

}

.terceiro {
    font-size: 25px;
    display: flex;
    margin-left: 535px;
    margin-top: 350px;
    width: fit-content;
    position: absolute;
    width: 620px;
}
.quarto {
    font-size: 60px;
    display: flex;
    margin-left: 470px;
    margin-top: 200px;
    width: fit-content;
    position: absolute;
    width: 680px;

}

.quinto {
    font-size: 60px;
    display: flex;
    margin-left: 666px;
    margin-top: 260px;
    width: fit-content;
    position: absolute;
    width: 350px;

}

.sexto {
    font-size: 25px;
    display: flex;
    margin-left: 535px;
    margin-top: 350px;
    width: fit-content;
    position: absolute;
    width: 620px;
}

.botao1 {
    background-color: #49586B;
    color: white;
    font-family: Georgia, serif;
    border: 0px;
    border-radius: 6px;
    width: 180px;
    height: 65px;
    font-size: 30px;
    position: absolute;
    margin-top: 480px;
    margin-left: -95px;
    cursor: pointer;
}

.ima {
    position: absolute;
    right: 20px;
    margin-top: 5px;
    border-radius: 120px;
    height: 45px;
    width: 45px;
}
* {
	box-sizing: border-box;
}

label {
    color: white;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;   
	background-size: cover;
    background-image: linear-gradient(#92B2A7, #6E7B8C);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
	/*position: absolute;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}

input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2){
   z-index: 0;
   
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

label:before,
label:after {
	color: white;
	display: block;
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
