body {
    width: 100%;
    margin: 0;
    display: flex;
    overflow-y: scroll
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.cabecalho {
    background-color: #CFE0DD;
    height: 55px;
    width: 100%;
    margin: 0px;
    display: flex;
    position: fixed;
    flex-direction: row;
}
.logo
{
    margin-top: 5px;
    margin-left: 205px;
}

.agendamento
{
    margin-top: 5px;
    margin-left: 25px;
}

.quiz
{
    margin-top: 5px;
    margin-left: 25px;
}

.ima
{
    position: absolute;
    right: 20px;
    margin-top: 5px;
    border-radius: 120px;
    height: 45px;
    width: 45px;
}
.texto {
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 680px;
    margin-top: 320px;
    flex-direction: row;
    font-size: 30px;
    justify-content: center;
    margin: center;
}

.caixa {
    background-color: #D5E2DF;
    border-radius: 10px;
    height: 190px;
    width: 580px;
    display: flex;
    position: absolute;
    margin-top: 480px;
    align-items: center;
    margin-left: 475px;
    margin-top: 400px;
}

.imagem {
    display: flex;
    margin-top: 90px;
    align-items: center;
    margin-left: 660px;
    border-radius: 120px;
    width: 230px;
    height: 230px;
}

.botao_hist {
    width: 300px;
    height: 55px;
    display: flex;
    position: absolute;
    margin-left: 620px;
    margin-top: 630px;
    font-size: 23px;
    justify-content: center;
    border-radius: 5px;
    font-family: Georgia, serif;
    background-color: #CFE0DD;
    border: 0px;
}

.botao_agend {
    width: 300px;
    height: 55px;
    display: flex;
    position: absolute;
    margin-left: -268px;
    margin-top: 700px;
    font-size: 23px;
    justify-content: center;
    border-radius: 5px;
    font-family: Georgia, serif;
    background-color: #CFE0DD;
    border: 0px;
}
.botao_users {
    width: 300px;
    height: 55px;
    display: flex;
    position: absolute;
    margin-left: 620px;
    margin-top: 770px;
    font-size: 23px;
    justify-content: center;
    border-radius: 5px;
    font-family: Georgia, serif;
    background-color: #CFE0DD;
    border: 0px;
}
.user_edit
{
    position: absolute;
    margin-top: 280px;
    margin-left: 5px;
    width: 50px;
}

.botao_usu {
    width: 500px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -600px;
    margin-top: 80px;
    flex-direction: row;
    font-size: 23px;
    justify-content: center;
    margin: center;
    border-radius: 10px;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}

.botao_sen {
    width: 500px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -600px;
    margin-top: 140px;
    flex-direction: row;
    font-size: 23px;
    justify-content: center;
    margin: center;
    border-radius: 10px;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}

.botao_tel {
    width: 500px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -600px;
    margin-top: 200px;
    flex-direction: row;
    font-size: 23px;
    justify-content: center;
    margin: center;
    border-radius: 10px;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}

.botao_rua {
    width: 500px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -600px;
    margin-top: 260px;
    flex-direction: row;
    font-size: 23px;
    justify-content: center;
    margin: center;
    border-radius: 10px;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}
.botao_bai {
    width: 500px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -600px;
    margin-top: 320px;
    flex-direction: row;
    font-size: 23px;
    justify-content: center;
    margin: center;
    border-radius: 10px;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}

.botao_bio {
    width: 500px;
    height: 150px;
    position: absolute;
    margin-left: -600px;
    margin-top: 380px;
    font-size: 23px;
    margin: center;
    border-radius: 10px;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}

.botao_fin {
    width: 250px;
    height: 60px;
    position: absolute;
    align-items: center;
    margin-left: -600px;
    margin-top: 550px;
    flex-direction: row;
    font-size: 23px;
    justify-content: center;
    margin: center;
    border-radius: 10px;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}
.botao_foto {
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -1390px;
    margin-top: 470px;
    flex-direction: row;
    font-size: 23px;
    justify-content: center;
    margin: center;
    font-family: 'Times New Roman';
    background-color: #CFE0DD;
    border: 0px;
    font-weight: bold;
}

.logo {
    margin-top: 5px;
    margin-left: 7px;
}

.agendamentos {
    margin-top: 5px;
    margin-left: 25px;
}

.quiz {
    margin-top: 5px;
    margin-left: 25px;
}

.ima {
    margin-top: 5px;
    margin-left: 1270px;
    border-radius: 120px;
    height: 45px;
    width: 45px;
}
.imagem_edit {
    display: flex;
    position: absolute;
    margin-top: 230px;
    align-items: center;
    margin-left: 200px;
    border-radius: 120px;
    width: 230px;
    height: 230px;
}
