body {
    width: 100%;
    margin: 0;
    display: flex;
    background-image: linear-gradient(#92B2A7, #6E7B8C);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.logo_branca {
    position: absolute;
    width: 300px;
    margin-left: 645px;
    margin-top: 60px;

}

.caixa_cadastro {
    background-color: #DDDDDD;
    margin-top: 290px;
    margin-left: 545px;
    width: 513px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #686868;
}

.nome_texto {
    font-size: larger;
    margin-left: 170px;
    font-family: 'Lucida Sans Unicode';
}

.nome {
    width: 400px;
    margin-left: 50px;
    border: 0px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(112, 112, 112) inset;
}

.senha_texto {
    font-size: larger;
    margin-top: 20px;
    margin-left: 220px;
    font-family: 'Lucida Sans Unicode';
}

.senha {
    width: 400px;
    margin-left: 50px;
    border: 0px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(112, 112, 112) inset;
}

.telefone_texto {
    font-size: larger;
    margin-top: 20px;
    margin-left: 205px;
    font-family: 'Lucida Sans Unicode';
}

.telefone {
    width: 400px;
    margin-left: 50px;
    border: 0px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(112, 112, 112) inset;
}

.cadastrar_botao {
    background-color: #49586B;
    color: white;
    font-family: Georgia, serif;
    border: 0px;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 180px;
    font-size: large;
    position: absolute;
}

.pergunta_texto {
    margin-top: 90px;
    margin-left: 185px;
}

.cadastro_texto {
    margin-left: 205px;
}
a{
    color: black;
}
